<main class="w-full h-screen bg-zinc-950 flex justify-center items-center">
  <div class="border-gray-800 border-[1px] rounded-md p-8 w-full max-w-[30rem]">
    <h2 class="text-white text-2xl font-semibold pb-2">Login</h2>
    <p class="text-gray-400 text-sm pb-2">
      Enter your email below to login to your account
    </p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col text-white gap-2 py-4">
        <label
          [ngClass]="{
            'text-red-800': emailError,
          }"
          class="text-sm"
          for="email"
          >Email</label
        >
        <input
          formControlName="email"
          class="appearance-none focus:ring-0 p-0 bg-transparent bg-zinc-950 text-white w-full px-2 py-2 border-gray-800 border-[1px] rounded-md active:border-white active:outline-none"
          placeholder="m@example.com"
          id="email"
          name="email"
          type="email"
          required
        />
        @if (emailError) {
          <p class="text-sm text-red-800">Please enter a valid email</p>
        }
      </div>

      <div class="flex flex-col text-white gap-2 py-4">
        <label
          [ngClass]="{
            'text-red-800': passwordError,
          }"
          class="text-sm"
          for="password"
          >Password</label
        >
        <input
          formControlName="password"
          class="appearance-none focus:ring-0 p-0 bg-transparent bg-zinc-950 text-white w-full px-2 py-2 border-gray-800 border-[1px] rounded-md active:border-white active:outline-none"
          placeholder="password"
          id="password"
          name="password"
          type="password"
          required
        />
        @if (passwordError) {
          <p class="text-sm text-red-800">
            "Invalid password. Must be at least 8 characters.
          </p>
        }
      </div>

      <button
        type="submit"
        class="appearance-none w-full bg-white rounded-md py-2 mt-6"
      >
        Login
      </button>
    </form>
    <div class="text-white text-sm flex justify-center gap-2 mt-6">
      <p>Don't have an account?</p>
      <a class="underline" routerLink="/signup">Sign up</a>
    </div>
  </div>
</main>
